# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media

.venv
.env
captions_new.py
accounts/migrations/
learning/migrations/
pages/migrations/
static/bootstrap/
celerybeat-schedule