{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="px-4 pt-5 my-5 text-center border-bottom text-white">
    <h1 class="display-4 fw-bold">Video to Flashcard</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Extract interesting parts from videos as you are watching.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="{% url 'pages:start' %}" class="btn btn-warning btn-lg px-4 me-sm-3">Start learning</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
      <div class="container px-5">
        <img src="/static/images/learn.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" loading="lazy" width="700" height="600">
      </div>
    </div>
  </div>
{% endblock content %}
