{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Start here{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center ">
  <h2 class="fw-semibold">Thank you for your subscription!</h2>
  <hr class="text-warning">
  <div class="row text-center">
    <div class="col-10 mx-auto">
      <a href="{% url 'pages:start' %}" class="btn btn-success bg-gradient btn-lg">Start learning</a>
    </div>
  </div>
</div>






{% endblock content %}
