<div class="row p-3 text-white">
    <div class="col">
        <img src="{{ video.thumbnail }}" class="img-fluid rounded border border-success" alt="{{ video.title }}">
    </div>
    <div class="col">
        <h5 class="card-title fw-bold">{{ video.title }}</h5>
        <div class="d-flex flex-column mt-2">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg> Audio is ready</span>
            <span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg> Transcript is ready</span>
        </div>
        <p>Are you prepared? Let's continue then!</p>
        <form action="{% url 'learning:learn' user.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="video_id" name="video_id" id="video_id" value="{{ video_id }}">
            <input type="submit" class="btn btn-success w-100 my-2" value="Begin learning">
            <a href="{% url 'pages:start' %}" class="btn btn-outline-warning w-100">Choose another video</a>
        </form
    </div>
  </div




