{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Learning Page{% endblock title %}

{% block content %}

<div class="row my-4">
  {% include 'learning/partials/video.html' with video_id=video_id %} 
</div>


<div class='row text-center text-white'>
  <form action="{% url 'learning:process' user.id video_id %}" method="POST">

    {% csrf_token %}
    {{ formset.management_form }}


    <div id="timestamps-form-list">

      {% for form in formset %}
        <div class="timestamp-form">

          {{ form }}
          
        </div>
      {% endfor %}
      

    </div>
    <div class="row my-4 text-danger">
      {{ formset.non_form_errors }}
    </div>
  



      <div id='empty-form' class='d-none'>{{ formset.empty_form }}</div>


    <div class="form-actions my-2">
      <input type="hidden" name="link" id="link" value="{{ link }}">
        <input type="submit" name="submit" value="Save" class="btn btn-success" id="submit-id-submit">
        <button  name="append"  class="btn btn-danger" id="append" onclick="manageForm()">Add new timestamp</button>
    </div>

  </form> 
</div>






<script>

  const btn = document.getElementById('append')
  const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
  const btnSave = document.getElementById('submit-id-submit')

  
  btn.addEventListener('click', event => {
    
    if (event) {
      event.preventDefault()
    }



    const currentTimestampForms = document.getElementsByClassName('timestamps-form')
    const currentNum = totalNewForms.getAttribute('value')
    // const currentFormCount = currentTimestampForms.length // + 1


    // Append new form
    const formDiv = document.getElementById('timestamps-form-list')
    const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
    copyEmptyFormEl.setAttribute('class', 'timestamps-form my-1 form-control bg-dark text-white border border-0')
    copyEmptyFormEl.setAttribute('id', `form-${parseInt(currentNum)}`)
    const regex = new RegExp('__prefix__', 'g')
    copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, parseInt(currentNum))
    totalNewForms.setAttribute('value', parseInt(currentNum) + 1)
    formDiv.append(copyEmptyFormEl)

    // if (totalNewForms.getAttribute('value') >= 1) {
    //   btnSave.classList.remove('d-none')
    //   btnSave.removeAttribute('disabled')
    // }




  })


</script> 


{% endblock content %}
