{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Learning Page{% endblock title %}

{% block content %}

<div class="row my-4 mx-2 p-2 border border-success rounded-3">
  {% include 'learning/partials/video.html' with video_id=video_id %} 
</div>


{% comment %} <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>

<div class="row  d-flex flex-column align-items-center justify-content-center">
  <p>Use form to mark parts of the video you want to extract.</p>
  <p>FROM representing starting time (00:01:25) TO representing ending time (00:01:55)</p>
</div>

<div class="input-group">
  <div class="input-group-text">@</div>
  <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
</div> {% endcomment %}

<div class='row text-center'>
  <form action="{% url 'learning:process' user.id video_id %}" method="POST">

    {% csrf_token %}
    {{ formset.management_form }}


   <div id="timestamps-form-list" class="row">


    {% for form in formset %}
        <div class="timestamp-form row mt-2">
          {{ form }}      
        </div>
      {% endfor %}    

      

    
    </div>
    <div class="row my-4 text-danger">
      {{ formset.non_form_errors }}
    </div> 



      <div id='empty-form' class='d-none'>{{ formset.empty_form }}</div>


    <div class="form-actions my-1">
      <input type="hidden" name="link" id="link" value="{{ link }}">
        <input type="submit" name="submit" value="Save" class="btn btn-success" id="submit-id-submit">
        <button  name="append"  class="btn btn-danger" id="append" onclick="manageForm()">Add new timestamp</button> 
    </div>

  </form>
  </div> 



<script>

  const btn = document.getElementById('append')
  const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
  const btnSave = document.getElementById('submit-id-submit')

  
  btn.addEventListener('click', event => {
    
    if (event) {
      event.preventDefault()
    }



    const currentTimestampForms = document.getElementsByClassName('timestamps-form')
    const currentNum = totalNewForms.getAttribute('value')
    // const currentFormCount = currentTimestampForms.length // + 1


    // Append new form
    const formDiv = document.getElementById('timestamps-form-list')
    const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
    copyEmptyFormEl.setAttribute('class', 'timestamps-form row mt-2 d-flex')
    copyEmptyFormEl.setAttribute('id', `form-${parseInt(currentNum)}`)
    const regex = new RegExp('__prefix__', 'g')
    copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, parseInt(currentNum))
    totalNewForms.setAttribute('value', parseInt(currentNum) + 1)
    formDiv.append(copyEmptyFormEl)

    // if (totalNewForms.getAttribute('value') >= 1) {
    //   btnSave.classList.remove('d-none')
    //   btnSave.removeAttribute('disabled')
    // }




  })


</script> 


{% endblock content %}
