{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Progress{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">Progress Section</p>
</div>


<div id="main">
  <div class='progress-wrapper'>
    <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
  </div>
  <div id="progress-bar-message">Downloading files and starting task.</div>
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  
  <script>
  document.addEventListener("DOMContentLoaded", function () {
      let taskUrl = "{% url 'celery_progress:task_status' task_id %}";
        
      function customSuccess(progressBarElement, progressBarMessageElement) {
          progressBarElement.style.backgroundColor = '#fff';
          progressBarMessageElement.innerHTML = `Finished! Get your files here: <a class="btn btn-success" href="{% url 'learning:download' video_id %}">Download</a>`
      }

      function customError(progressBarElement, progressBarMessageElement) {
          progressBarElement.style.backgroundColor = '#fff';
          progressBarMessageElement.innerHTML = 'Something went wrong.'
      }

      CeleryProgressBar.initProgressBar(taskUrl, {
          onSuccess: customSuccess,
          onError: customError,
      });
  });
  </script

{% endblock content %}