{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Preparing your Files{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="fw-bold">Preparing your Files</h2>
  <hr />
</div>


<div id="main">
  <div class='progress-wrapper'>
    <div id='progress-bar' class='progress-bar my-3' style="background-color: #41D1A7; width: 0%;">&nbsp;</div>
  </div>
  <div id="progress-bar-message" class="text-white fw-semibold">Preparing your files and starting task.</div>
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  
  <script>
  document.addEventListener("DOMContentLoaded", function () {
      let taskUrl = "{% url 'celery_progress:task_status' task_id %}";
        
      function customSuccess(progressBarElement, progressBarMessageElement) {
          progressBarElement.style.backgroundColor = '#41D1A7';
          progressBarMessageElement.innerHTML = `<span class="fw-bold text-white">Finished! Get your files here:</span> <a class="btn btn-secondary mx-3 fw-bold" href="{% url 'learning:download' video_id %}">Download</a>`
      }

      function customError(progressBarElement, progressBarMessageElement) {
          progressBarElement.style.backgroundColor = '#B00020';
          progressBarMessageElement.innerHTML = `<p class="text-white fw-bold">Something went wrong. Try refreshing the page or <a href="{% url 'pages:contact' %}" target="_blank">contact us here</a> and we will get back to you as soon as possible.</p>`
      }

      CeleryProgressBar.initProgressBar(taskUrl, {
          onSuccess: customSuccess,
          onError: customError,
      });
  });
  </script

{% endblock content %}